.map-form {
  position: absolute;
  top: 1.5rem;
  left: 4rem;
  z-index: 9;

  width: 50%;
  display: flex;
  flex-direction: row;
  gap: .5rem;
}

.map-form__input {
  width: 15rem;
  padding: .5rem 1rem;
  border: 1px solid #ccc;
  border-radius: 1.5rem;
}

.map-form__input::placeholder {
  overflow: hidden;
  text-overflow: ellipsis;
}

.map-form__button {
  padding: .5rem 1rem;
  border-radius: 1.5rem;
  color: #FFFFFF;
  background-color: #4A617F;
  cursor: pointer;
  border: 1px solid transparent;
}

.map-form__button:hover {
  background-color: #3A4D63;
}

.map-form__select {
  border: 1px solid #ccc;
  border-radius: 1.5rem;
  background-color: #fff;
  cursor: pointer;
  
  position: absolute;
  top: 2.75rem;
  
  display: flex;
  flex-direction: column;
}

.map-form__option {
  width: 25rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.map-form__option:first-child {
  position: relative;
  border-radius: 1.5rem 1.5rem 0 0 ;
}

.map-form__option:last-child {
  position: relative;
  border-radius: 0 0 1.5rem 1.5rem;
}

.map-form__option:hover {
  background-color: #3A4D63CC;
  color: #FFFFFF;

  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  -webkit-box-orient: vertical;
}