.chatContainer{
    width: calc(25vw + 4rem);
    min-width: 22rem;
    display: flex;
    flex-shrink: 0;
    transition: .5s;
}
.chatContainerOpen{
    width: 100%;
}
.chatContactsSection{
    width: 4rem;
    height: 92vh;
    overflow: scroll;
    background-color: #E2DAD0;
    transition: .3s;
    position: relative;
}
.chatSearchContainer{
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: #E2DAD0;
    border-bottom: 1px solid #D3C0B5;
    transition: .3s;
}
.contactsContainer{
    margin-top: 5rem;
}
.leftBarChat{
    width: 4rem;
    height: 92vh;
    background-color: #D3C0B5;
    transition: .3s;
}
.toggleChatButton{
    width: 100%;
    height: 4rem;
    background: none;
    border: none;
    transition: .3s;
    position: absolute;
    bottom: 0;
}

.leftBarButtonAction{
    width: 100%;
    min-width: 4rem;
    height: 4rem;
    border: none;
    background: none;
    text-align: left;
    display: flex;
    padding: 0;
}
.iconLeftBarContainer{
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.iconLeftBarButtonAction{
    height: 55%;
}
.leftBarButtonAction:hover{
    background: #b5a296;
}
.friendsRequestContainer{
    width: 20vw;
    height: 92vh;
    background-color: white;
    border-right: 1px solid #b5a296;
}
.barChatOpen{
    width: 25vw;
    min-width: 18rem;
}