/* html, body{
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    background-color: #E5E7EB;
    width: 100vw;

    height: 100vh;
} */
.barraNav {
    width: 100%;
    height: 8vh;
    background-color: #4A617F;
    display: flex;
    align-items: center;
    transition: .3s;
   
}
.logoContainer{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}
@font-face {
    font-family: 'Poppins';
    src: url('/Graphics/Fonts/Poppins/Poppins-SemiBold.ttf') format('truetype');
}
.logoName {
    color: white;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 30px;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
}

.barraNav a {
    text-decoration: none;
}

.barNavRigthContainer{
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
}
.userPhotoProfileContainer{
    width: 6vh;
    height: 6vh;
    border-radius: 100%;
    background-color: rgb(255, 255, 255);
    margin-left: auto;
    margin-right: 20px;
    cursor: pointer;
}
.actionButtons{
    background: none;
    border: none;
    color: white;
    margin-left: auto;
    margin-right: 20px;
    padding-top: 14px;
    display: flex;
}
.actionButtons:hover{
    cursor: pointer;
    color: #A0AEC0;
}
.notificationButton{
    width: 6vh;
    height: 6vh;
    background: none;
    border: none;
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.barraNavFixed {
    position: fixed;
    z-index: 1000;
  }
  

  .dropdownMenu{
    position: absolute;
    top: 130%;
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
    display: flex;
    flex-wrap: wrap;
    z-index: 10;
    width: 10rem;
  }

  .dropdownMenuButton{
    padding: 8px;
    text-decoration: none;
    color: #333;
    cursor: pointer;
    width: 100%;
    text-align: left;
    background: none;
    border: none;
    font-size: 1rem;
    padding: 15px 20px;
    color: var(--primary-color);
  }
  .dropdownMenuButton:hover{
    background-color: #f0f0f0;
  }