.advertisingSectionContainer{
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}
.AdvertisingBox{
    width: 39vw;
    height: 30vw;
    background-color: #9EBAB7;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    box-sizing: border-box;
}
.imgAdvertising{
    width: 100%;
    position: absolute;
}
.blurAdvertising{
    background-color: #9EBAB7;

    opacity: 0.6;
    width: 100%;
    height: 100%;
    position: absolute;
}
.titleAdvertising{
    position: absolute;
    color: white;
    font-family: 'Poppins';
    font-size: 45px;
    text-align: center;
}
.advertisingDescription{
    color: white;
    font-size: 2.5vw;
}
.advertisingButton{
    width: 15vw;
    height: 4vw;
    background: none;
    border: 2px solid white;
    color: white;
    transition: .3s;
    font-size: 1.3vw;
}
.advertisingButton:hover{
    background-color: white;
    color: #9EBAB7;
}
