:root {
    --primary-color: #4A617F;
    --secondary-color: #B2C9CE;
    --hover-color: #354860;
    --active-tag-color: #CBA18A;
    --inactive-tag-color: #4A617F;
    --background-color: #ffffff;
    --border-color: #B2C9CE;
    --button-hover-color: #9cb2b6;
    --loader-bg-color: rgba(255, 230, 214, 0.163);
    --tag-hover-color: #eeeeee;
    --input-background: #cccccc;
    --input-hover-background: #c0c0c0;
}

.profileCustomizationMainBox {
    width: 70vw;
    height: 85vh;
    background-color: var(--background-color);
    position: absolute;
    display: flex;
    flex-wrap: wrap;
}

.goBack {
    width: 20vw;
    height: 7vh;
    margin-top: 2vh;
    color: var(--secondary-color);
    background: none;
    border: 1px solid var(--secondary-color);
    transition: .3s;
}

.goBack:hover {
    background-color: rgb(238, 238, 238);
}

/* Custom Progress Bar -----------------------------*/
.customProgressContainer {
    width: 70vw;
    height: 10vh;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.customProgressButton {
    border-radius: 100%;
    width: 5vh;
    height: 5vh;
    background: none;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.activeCustomProgressButton {
    background-color: var(--primary-color);
    color: white;
}

/* Loader ---------------------------------------*/
.customizationLoader {
    width: 100%;
    height: 100%;
    background-color: var(--loader-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

/* ////////////////// First Step ////////////////// */

/* Inputs Container -----------------------------*/
.inputsPersonalInfoContainer {
    width: 35vw;
    height: 75vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    box-sizing: border-box;
    padding-top: 3vh;
    gap: 15px;
}

.titlePersonalInfo {
    font-family: Arial;
    color: var(--primary-color);
    font-size: 5vh;
    padding: 0;
    margin: 1vh;
    margin-top: 4vh;
    width: 30vw;
    text-align: left;
}

/* Photo Profile --------------------------------*/
.firstStepTagsMainContainer {
    width: 32vw;
    height: 75vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    box-sizing: border-box;
    padding-top: 5vh;
}

.firstStepPhotoProfileContainer {
    width: 10vw;
    height: 10vw;
    border-radius: 100%;
    background-color: var(--primary-color);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: .3s;
}

.firstStepPhotoProfileContainer:hover {
    background-color: var(--hover-color);
}

.inputFilePhotoProfile {
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 0;
    position: absolute;
}

/* Tags ----------------------------------------*/
.firstStepTagsContainer {
    width: 35vw;
    height: 28vh;
    margin-top: 3vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
    overflow-y: scroll;
}

.activeTag {
    margin: 0;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid var(--active-tag-color);
    background-color: var(--active-tag-color);
    color: #ffffff;
    border-radius: 20px;
    transition: .1s;
    cursor: pointer;
}

.activeTag:hover {
    background-color: #b79381;
    border: 1px solid #b79381;
    padding-left: 12px;
    padding-right: 12px;
}

.tagFirstStep {
    margin: 0;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid var(--primary-color);
    background: none;
    color: var(--primary-color);
    border-radius: 20px;
    transition: .1s;
    cursor: pointer;
}

.tagFirstStep:hover {
    background-color: var(--tag-hover-color);
    color: var(--primary-color);
    padding-left: 12px;
    padding-right: 12px;
}

.tagFirstStepP {
    margin: 0;
}

.tagsTitle {
    width: 100%;
    margin: 0;
    color: var(--primary-color);
    margin-top: 3vh;
    text-align: center;
}

.nextStep {
    width: 90%;
    height: 8vh;
    background-color: var(--secondary-color);
    border: none;
    color: white;
    margin-top: 2vh;
    transition: .3s;
}

.nextStep:hover {
    background-color: var(--button-hover-color);
}
/* ////////////////// Second Step ////////////////// */

/* Choose Box --------------------------------*/

.chooseBoxTitle{
    width: 100%;
    text-align: center;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--primary-color);
    padding-left: 5px;
    font-size: xx-large;
}

.choseBoxContainer{
    width: 100%;
    height: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    align-content: center;
    align-items: center;
}

.chooseBox{
    width: 16vw;
    height: 18vw;
    background: white;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    transition: .3s;
    overflow: hidden;
    position: relative;
}

.chooseBox:hover{
    width: 17vw;
    height: 19vw;
    box-shadow: 0 0 10px 2px var(--hover-shadow);
}

.chooseBoxTitleCard{
    font-family: Arial, Helvetica, sans-serif;
    color: var(--primary-color);
    width: 100%;
    padding-left: 5px;
    font-size: x-large;
    margin: 3vh;
}

/* ////////////////// Third Step ////////////////// */

.photosBoxTitle{
    width: 100%;
    text-align: center;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--primary-color);
    padding-left: 5px;
    font-size: xx-large;
}

.subTitlePhotosBox{
    width: 100%;
    text-align: center;
    margin: 0;
    color: var(--secondary-color);
}

.photosBoxContainer{
    width: 100%;
    height: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 15px;
}

.inputSelectPhoto{
    width: 13vw;
    height: 20vw;
    background-color: var(--input-background);
    border-radius: 10px;
    overflow: hidden;
    transition: .3s;
    display: flex;
    justify-content: center;
}

.inputSelectPhoto:hover{
    background-color: var(--input-hover-background);
}

.photosBoxContainer button{
    width: 20vw;
    height: 7vh;
}

.backButtonThirdStep{
    background: none;
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    transition: .3s;
}

.backButtonThirdStep:hover{
    background-color: var(--hover-background);
}

.photosBoxContainer button:last-child{
    background: none;
    background-color: var(--primary-color);
    border: none;
    color: white;
    transition: .3s;
}

.photosBoxContainer button:last-child:hover{
    background-color: var(--hover-background);
}

/* ----------------------------------------------- */

/* Final Step */
.resultProfileCustomization{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.finishTitle{
    width: 100%;
    text-align: center;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--primary-color);
    padding-left: 5px;
    font-size: xxx-large;
}

.finishButton{
    width: 10vw;
    height: 8vh;
    background-color: var(--primary-color);
    border: none;
    color: white;
    margin-top: 5vh;
    transition: .3s;
    align-self: center;
}

.finishButton:hover{
    background-color: var(--hover-background);
}


.resultBoxContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.resultTitle{
    width: 100%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color:var(--primary-color);
    font-size: 2rem;
}