
.property-manager__container{
    width: 100%;
    height: 92vh;
    background-color: white;
    display: flex;
    gap: 1rem;
    align-items: center;
    box-sizing: border-box;
    padding: 1rem;
}

.property-manager__title{
    width: 100%;
    font-family: Arial;
    font-weight: 400;
    color: var(--primary-color);
    font-size: 1.5rem;
    margin: 1rem;
    margin-top: 0.5rem;
}
.tabs__container{
    width: 100%;
    height: 1.8rem;
    display: flex;
    border-bottom: 2px solid #c3c3c3;
}
.tabs__button{
    height: 1.8rem;
    padding: 0 1rem;
    margin: 0;
    background: none;
    border: none;
    box-sizing: content-box;
    color: #636363;
    font-size: 0.9rem;
    cursor: pointer;
}
.tabs__button-active{
    color: #4A617F;
    border-bottom: 3px solid #4A617F;
}


/*--------------------------------------------------------------*/
/* Dashboard Sidebar                                            */
/*--------------------------------------------------------------*/

.dashboard-sidebar {
    width: 30rem;
    height: 100%;
    background-color: white;
    border: 2px solid #c3c3c3;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 1rem;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
}

.statistics__container {
    display: flex;
    align-items: center;
    gap: 3rem;
    padding: 1rem;

}

.statistics__logo-container {
    flex: 1;
    background-color: #B2C9CE;
    color: white;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    overflow: hidden; /* por si algo intenta desbordarse */
    min-height: 0;     /* previene desbordamiento en layouts flexibles */
    position: relative;
}
.statistics__logo-title{
    position: absolute;
    color: white;
    opacity: 0.9;
    margin: 0;
    top: 1rem;
    left: 1rem;
}
/*--------------------------------------------------------------*/
/* Property Manager Panel                                       */
/*--------------------------------------------------------------*/

.property-manager-panel {
    flex-grow: 1;
    height: 100%;
    background-color: white;
    border: 2px solid #c3c3c3;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 1rem;
    display: flex;
    flex-direction: column;
  }
  
.property-manager__content {
    width: 100%;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    box-sizing: border-box;
    padding-top: 1rem;
}
.property-manager__content-title{
    width: 100%;
    font-family: Arial;
    display: flex;
    align-items: center;
}
.property-manager__button-add-property{
    width: 15rem;
    height: 2rem;
    background: none;
    color: var(--primary-color);
    font-size: 1rem;
    border: 1px solid var(--primary-color);
    border-radius: 100px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 1rem;
    margin: 0;
    padding: 0;
    transition: .3s;
}
.property-manager__button-add-property:hover{
    background-color: var(--primary-color);
    color: white;
}
.empty-screen {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column; /* Añadido */
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
}
.property-manager__message{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    color: #9b9b9b;
    margin: 0;
    margin-top: -2rem;
    user-select: none;
    pointer-events: none;
}