:root {
    --white: #ffffff;
    --hover-bg: #ebebeb;
    --shadow-color: rgba(173, 173, 173, 0.2);
}

.signInBannerContainer {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signInBanner {
    width: 80vw;
    height: 60vh;
    background-color: var(--secondary-color);
    border-radius: 10px;
    box-shadow: 0 0 5px 5px var(--shadow-color);
    overflow: hidden;
    display: flex;
    align-items: center;
    position: relative;
}

.signInBannerBlur {
    position: absolute;
    width: 40vw;
    height: 100vh;
    top: -20;
    right: 0;
    background-color: var(--secondary-color);
    filter: blur(190px);
}

.signInBannerInfo {
    position: absolute;
    width: 40vw;
    height: 100%;
    right: 40px;
    top: 30px;
    padding-left: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: flex-start;
    align-items: center;
    text-align: right;
}

.signInTitle {
    color: var(--white);
    font-size: 7.2vh;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
    line-height: 1.2;
}

.signInDescription {
    color: var(--white);
    margin-top: 10px;
    width: 25vw;
}

.signInButton {
    width: 32vh;
    height: 7vh;
    background-color: var(--white);
    color: var(--secondary-color);
    border: 2px solid var(--white);
    margin-top: 10px;
    transition: .3s;
}

.signInButton:hover {
    background-color: var(--hover-bg);
}

.signUpButton {
    width: 32vh;
    height: 7vh;
    background: none;
    color: var(--white);
    border: 2px solid var(--white);
    margin-top: 10px;
    margin-left: 10px;
    transition: .3s;
}

.signUpButton:hover {
    background-color: var(--white);
    color: var(--primary-color);
}