.modal__map {
  height: 80vh;
  width: 70vw;
  z-index: 8;
}

.modal__card {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0 1rem 1rem 0;
  z-index: 9;
  max-width: 50%;
  
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.125);
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.modal__card-title {
  font-size: 24px;
  font-weight: 500;
  color: #5668B7;
  margin: 0;
  padding: .5rem;
}

.modal__card-text {
  font-size: 16px;
  margin: 0;
  white-space: pre-wrap;
  padding: 0 0 .5rem .5rem;
  color: #787878;
}

.modal__card-button {
  background-color: #B2C9CE;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 0 0 5px 5px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
}