

.roomSliderSectionContainer {
    width: 100%;
    height: 60vh;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.roomSliderTitle {
    font-family: 'Poppins', sans-serif;
    color: var(--primary-color);
    margin: 0;
    padding: 0;
    margin-left: 5vw;
    margin-top: 2vh;
    margin-bottom: 5vh;
    font-size: 30px;
}

.roomSliderContainer {
    width: 90vw;
    height: 40vh;
    margin-left: 5vw;
    background-color: var(--background-color);
}

.roomBox {
    width: 21.5vw;
    height: 40vh;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
}

.imageContainer {
    width: 100%;
    height: 29vh;
    background-color: var(--gray-color);
    display: flex;
    justify-content: center;
}

.roomBoxInfo {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
}

.roomName {
    width: 95%;
    padding: 0;
    margin: 0;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 18px;
    color: var(--primary-color);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.roomAdress {
    width: 95%;
    padding: 0;
    margin: 0;
    margin-left: 10px;
    margin-top: 5px;
    font-size: 14px;
    color: var(--secondary-color);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-word;
}

.custom-arrow {
    background-color: var(--secondary-color);
    border: none;
    font-size: 24px;
    color: var(--white-color);
    cursor: pointer;
    padding: 10px;
    z-index: 10;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 1px solid rgba(255, 255, 255, 0.472);
    transition: .3s;
}

.custom-arrow:hover {
    width: 55px;
    height: 55px;
    background-color: var(--button-hover-color);
}

.custom-left-arrow {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
}

.custom-right-arrow {
    position: absolute;
    right: 20px;
    top: 50%;
    z-index: 1000;
    transform: translateY(-50%);
}