.admin-navbar {
  width: 100%;
  max-width: 100%;
  height: 8vh;
  background-color: #4A617F;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.admin-navbar a {
  text-decoration: none;
}

.admin-navbar__title {
  font-size: clamp(1.5rem, 2vw + 1rem, 2rem);
  color: white;
  text-align: center;
  font-weight: bold;
  margin-left: 1rem;
}

.admin-navbar__figure {
  width: 2.5rem;
  height: 2.5rem;
  margin-left: auto;
  margin-right: 1rem;
}

.admin-navbar__icon {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}