.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
  text-align: center;
  width: 400px;
}
.modal-content h2{
  color: #4A617F;
  font-family: 'poppins';
  font-size: x-large;
}

.cropper-container {
  position: relative;
  width: 100%;
  height: 300px;
  background: #ccc;
  margin: 10px 0;
}

.modal-buttons button {
  margin: 5px;
  padding: 15px;
  padding-left: 30px;
  padding-right: 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal-buttons button:first-child {
  background: #8ba2a8;
  color: white;
  transition: .3s;
}
.modal-buttons button:first-child:hover{
  background: #72858a;
}
.modal-buttons button:last-child {
  background: none;
  color: #8ba2a8;
  border: 1px solid #8ba2a8;
  transition: .3s;
}
.modal-buttons button:last-child:hover{
  background-color: rgb(230, 230, 230);
}