.admin-action-card {
  position: relative;
  height: 25rem;
  width: 25rem;
  background-color: #fff;
  border-radius: 1rem;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  cursor: pointer;
}

.admin-action-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

.admin-action-card__title {
  font-size: 1.5rem;
  color: #4A617F;
  font-weight: 500;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}

.admin-action-card__image {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  object-fit: cover;
  transition: opacity 0.3s ease;
  position: relative;
}

.admin-action-card__image::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 1;
  /* background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 100%); */
}